
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using ViewModels.Order
@model GetOrderViewModel

<div class="m-auto">
    <h1 class="text-center">Order Details</h1>
    <div class="container  ">
        <div class="row">
            <div class="col-12">
                <table class="w-75 m-auto">
                    <tr >
                        <td><label for="CustomerName" class="form-label p-1">Customer Name :  </label></td>
                        <td><input type="text" readonly id="CustomerName" value="@ViewBag.Name" class="form-control"></td>
                    </tr>
                    <tr >
                        <td><label for="Address" class="form-label p-1">Address :  </label></td>
                        <td><input type="text" readonly id="Address" value="@ViewBag.Address" class="form-control"></td>
                    </tr>
                    <tr >
                        <td><label for="Status" class="form-label p-1">Status :  </label></td>
                        <td><input type="text" readonly id="Status" value="@Model.Status" class="form-control"></td>
                    </tr>
                    <tr >
                        <td><label for="Date" class="form-label p-1">Date :  </label></td>
                        <td><input type="text" readonly id="Date" value="@Model.OrderDate" class="form-control"></td>
                    </tr>
                    <tr >
                        <td><label for="TotalPrice" class="form-label p-1">TotalPrice :  </label></td>
                        <td><input type="text" readonly id="TotalPrice" value="@Model.TotalPrice" class="form-control"></td>
                    </tr>
                    <tr class="mt-5">
                        <td colspan="2" >
                            <table class="table table-light">
                                <tr>
                                    <th>Product</th>
                                    <th>Amout</th>
                                    <th>Price</th>
                                </tr>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>@item.ProductName</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Price</td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>                

                </table>
            </div>
        </div>
    </div>
</div>