
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ViewModels.Order
@using Models.Order
@model IEnumerable<GetOrderViewModelForAdmin>

<div class="m-auto">

    @*<partial name="_OrderStatus" model="@ViewBag.OrderStatuses"/>*@
    <select id="statuses" class="custom-select w-25 mb-3">
        <option value=0>@OrderStatus.Sent</option>
        <option value=1>@OrderStatus.Pending</option>
        <option value=2>@OrderStatus.Delivered</option>
    </select>

    <table class="table table-bordered table-hover">

        <thead>
            <tr class="text-center">
                <th>index</th>
                <th>Customer Name</th>
                <th>Total Price</th>
                <th>Status</th>
                <th>Date</th>
                <th>Settings</th>
            </tr>
        </thead>
        <tbody id="tblbody">
            @foreach (var item in Model.Select((value, index) =>(value,index) ) )
            {
                <tr class="text-center">
                    <td>@item.index</td>
                    <td>@item.value.CustomerName</td>
                    <td>@item.value.TotalPrice</td>
                    <td>@item.value.Status</td>
                    <td>@item.value.OrderDate</td>
                    <td class="text-center">
                        <a class="btn btn-info" href="~/Order/Details?id=@item.value.ID">Details</a>
                        <a class="btn btn-info" href="~/Order/Eidt?id=@item.value.ID">Edit</a>
                        <a class="btn btn-danger" href="~/Order/delete?id=@item.value.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $("#statuses").change(function () {
        $.get('/Order/getOrders?Status=' + $("#statuses option:selected").val(), function (data, status) {
            $("#tblbody").empty();
            for (var i in data) {
                console.log(data[i]);
                let status;
                switch (data[i].status) {
                    case 0:
                        status = "@OrderStatus.Sent";
                        break;
                    case 1:
                        status = "@OrderStatus.Pending";
                        break;
                    case 2:
                        status =  "@OrderStatus.Delivered";
                        break;
                    default:
                }
                let tr = `
                <tr class="text-center">
                    <td>${Number(i)+1}</td>
                    <td>${data[i].customerName}</td>
                    <td>${data[i].totalPrice}</td>
                    <td>${status}</td>
                    <td>${data[i].orderDate}</td>

                    <td class="text-center">
                        <a class="btn btn-info" href="/Order/Details?id=${data[i].id}">Details</a>
                        <a class="btn btn-info" href="/Order/Eidt?id=${data[i].id}">Edit</a>
                        <a class="btn btn-danger" href="/Order/delete?id=${data[i].id}">Delete</a>
                        </td>
                    </tr>
                `;
                    $("#tblbody").append(tr);
                }
            })
        });
</script>