
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ViewModels.Order
@model IEnumerable<GetOrderViewModelForAdmin>

<div class="m-auto">

    <a class="btn btn-success" asp-controller="Product" asp-action="Add">New</a>
    <table class="table table-bordered table-hover">

        <thead>
            <tr class="text-center">
                <th>index</th>
                <th>Customer Name</th>
                <th>Total Price</th>
                <th>Status</th>
                <th>Date</th>
                <th>Settings</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Select((value, index) =>(value,index) ) )
            {
                <tr class="text-center">
                    <td>@item.index</td>
                    <td>@item.value.CustomerName</td>
                    <td>@item.value.TotalPrice</td>
                    <td>@item.value.Status</td>
                    <td>@item.value.OrderDate</td>
                    <td class="text-center">
                        <a class="btn btn-info" href="~/Order/Details?id=@item.value.ID">Details</a>
                        <a class="btn btn-info" href="~/Order/Eidt?id=@item.value.ID">Edit</a>
                        <a class="btn btn-danger" href="~/Order/delete?id=@item.value.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

