<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminPanel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <style>
        .table-bordered td, .table-bordered th {
            vertical-align: middle;
        }
    </style>
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a  class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index">Department</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Order</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="logoutBTN" href="">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="sidebar-container">
                    <div class="sidebar-logo">
                        Admin Panel
                    </div>
                    <ul class="sidebar-navigation">
                        <li class="active">
                            <a class="nav-link " asp-area="" asp-controller="Department" asp-action="Index">
                                Department
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Category" asp-action="Index">
                                Category
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">
                                Product
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">
                                Order
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">
                                Admin
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="logoutBTN" href="">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-10 mt-5">
                @RenderBody()
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
<script type="text/javascript">
        window.addEventListener("load", () => {
            if (!localStorage.getItem("Token")) {
                alert("You Have To Login");
                window.location.href = '@Url.Action("Login","Admin")';
            } else if (JSON.parse(atob(localStorage.getItem("Token").split('.')[1])).Role != 'Admin') {
                alert("Your Are No An Admin");
                window.location.href = '@Url.Action("Login","Admin")';
            }

        $(".sidebar-navigation li a").each(function (inde,elem) {
            let nav = sessionStorage.getItem("nav");
            if (nav == $(elem).text()) {
                $(elem).parent().addClass("active").siblings().removeClass("active");
            }
        });
    });
        document.getElementById("logoutBTN").addEventListener("click", () => {
            if (localStorage.getItem("Token")) {
                localStorage.removeItem("Token");

                window.location.href = '@Url.Action("Login","Admin")';
            } else {
                alert("There is No User Logged In");
            }
        })
        $(".sidebar-navigation li a").click(function () {
            sessionStorage.setItem("nav", $(this).text());
        });
</script>
</body>
</html>
