@using AdminPanel.Helpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNumber = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNumber = pager.CurrentPage;
    }
}

@using ViewModels.User
@model IEnumerable<GetUserViewModel>

<div class="m-auto">

    <div>
        <a class="btn btn-success float-left" asp-controller="Admin" asp-action="CreateAccount">New</a>
        @*<select id="roles" class="custom-select float-right w-25">
            <option value=-1>All</option>
            <option value=0>Admin</option>
            <option value=1>Customer</option>
        </select>*@
    </div>
    <div style="clear:both"></div>
    <table class="table table-bordered mt-2 table-hover">

        <thead>
            <tr class="text-center">
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Username</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody id="tblbody">
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>@item.Firstname</td>
                    <td>@item.Lastname</td>
                    <td>@item.Email</td>
                    <td>@item.Username</td>
                    <td>@item.Gender</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>
                        @if (item.Image != "")
                        {
                            <img src="@item.Image" width="100" class="img-fluid" asp-append-version="true" />

                        }
                        else
                        {

                            <img src="http://placehold.it/100" width="100" class="img-fluid" asp-append-version="true" />
                        }

                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div>
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination">
                @for (int i = pager.StartPage; i <= pager.EndPage; i++)
                {
                    <li class="page-item @(i == pager.CurrentPage ? "active" :"" )">
                        <a class="page-link" asp-controller="Admin" asp-action="Index" asp-route-page="@i">
                            @i
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
        window.addEventListener("load", () => {
            if (!localStorage.getItem("Token")) {
                window.location.href = '@Url.Action("Login","Admin")';
            }
        });

    //$("#roles").change(function () {
    //    let role = $("#roles option:selected").text();
    //    let url;
    //    if (role != "All") {
    //        url = "/Admin/GetUsersByRoles?Role=" + role;
    //    } else {
    //        url = "/Admin/GetUsersByRoles?Role=" + role;
    //    }
    //    $.get(url, function (data) {
    //        for (var i in data) {
    //            $("#tblbody").empty();

    //            console.log(data[i]);
    //            if (data[i].Image == "") {
    //                data[i].Image = "http://placehold.it/100";
    //            }
    //            let tr = `
    //            <tr class="text-center">
    //                <td>${data[i].firstname}</td>
    //                <td>${data[i].lastname}</td>
    //                <td>${data[i].email}</td>
    //                <td>${data[i].username}</td>
    //                <td>${data[i].gender}</td>
    //                <td>${data[i].address}</td>
    //                <td>${data[i].Phone}</td>
    //                <td>
    //                    <img src=${data[i].image} width="100" class="img-fluid" asp-append-version="true" />

    //                </td>

    //            </tr>
    //            `;
    //                $("#tblbody").append(tr);
    //        }
    //    })
    //    return false;
    //});
</script>