
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ViewModels.User
@model IEnumerable<GetUserViewModel>

<div class="m-auto">

    <a class="btn btn-success" asp-controller="Admin" asp-action="CreateAccount">New</a>
    <table class="table table-bordered table-hover">

        <thead>
            <tr class="text-center">
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Username</th>
                <th>Image</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Settings</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>@item.Firstname</td>
                    <td>@item.Lastname</td>
                    <td>@item.Email</td>
                    <td>@item.UserName</td>
                    <td>@item.Gender</td>
                    <td>@item.Address</td>
                    <td>@item.PhoneNumber</td>
                    <td>

                        <img src="@item.Image" width="100" class="img-fluid" asp-append-version="true" />

                    </td>
                    <td class="text-center">
                        <a class="btn btn-info" href="~/Product/Edit?id=@item.Id">Edit</a>
                        <a class="btn btn-danger" href="~/Product/delete?id=@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script type="text/javascript">
        window.addEventListener("load", () => {
            if (!localStorage.getItem("Token")) {
                window.location.href = '@Url.Action("Login","Admin")';
            } 
    });
</script>